*{
    margin: 0;
    padding: 0;
}
body{
    height: 98vh;
    background: #4646e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 570px;
    width: 600px;
    background: white;
    border-radius: 5px;
}
h1,form,section>div{
 margin-left: 30px;
}
h1{
    margin-top: 10px;
}

label{
    display: block;
    margin-top:40px ;
}
#textInput{
    width: 350px;
}
#addValue{
    margin-left: 20px;
    width: 50px;
}
section>div{
    display: flex;
    margin-top: 30px;
}
.blockList>p{
    margin: 0;
    padding: 0;
}
#boxList{
    width: 350px;
    height: 350px;
    margin-top: 0;
    border: gray solid 1px;
    border-radius: 2px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

}
.blockButton{
    display: flex;
    flex-direction: column;
    margin:20px 0 0 30px;
    gap: 10px;

}

.blockButton>button:nth-child(3){
    margin-top: 15px;
    width: 60px;
}
p{
    margin: 0;
    padding: 0;
}
